# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/

# Environment variables
.env

# SQLite database
*.db

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore datasetup folder


